[submodule "src/Attraction-convexity-and-Normal-Visibility-project"]
	path = src/Attraction-convexity-and-Normal-Visibility-project
	url = git@github.com:Kvan0005/Attraction-convexity-and-Normal-Visibility-project.git
