[submodule "Attraction-convexity-and-Normal-Visibility-project"]
	path = Attraction-convexity-and-Normal-Visibility-project
	url = https://github.com/Kvan0005/Attraction-convexity-and-Normal-Visibility-project
